[submodule "observe/mirana"]
	path = observe/mirana
	url = ../pro.fessional.mirana.git
	branch = main
	shallow = true
[submodule "observe/meepo"]
	path = observe/meepo
	url = ../pro.fessional.meepo.git
	branch = main
	shallow = true
[submodule "observe/docs"]
	path = observe/docs
	url = ../wings-doc.git
	branch = main
	shallow = true
