[submodule "observe/mirana"]
	path = observe/mirana
	url = ../../trydofor/pro.fessional.mirana.git
	branch = master
[submodule "observe/meepo"]
	path = observe/meepo
	url = ../../trydofor/pro.fessional.meepo.git
	branch = master
[submodule "observe/docs"]
	path = observe/docs
	url = ../../fessionalpro/wings-doc.git
	branch = main
