<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>wings example</title>
</head>
<body>
<h1>Sleep(当前窗口)</h1>
<a href="/test/sleep.html?ms=30000">/sleep.html?ms=30000</a>
<h1>I18n(当前窗口)</h1>
<ul>
    <li><a href="?lang=zh-CN&zone=Asia/Shanghai">lang=zh-CN&zone=Asia/Shanghai</a></li>
    <li><a href="?lang=en-US&zone=America/New_York">lang=en-US&zone=America/New_York</a></li>
    <li><a href="?lang=zh&zone=Asia/Shanghai">lang=zh&zone=Asia/Shanghai</a></li>
    <li><a href="?lang=en&zone=America/New_York">lang=en&zone=America/New_York</a></li>
    <li><a href="?lang=zh&zone=Shanghai">lang=zh&zone=Shanghai</a></li>
    <li><a href="?lang=en&zone=New_York">lang=en&zone=New_York</a></li>
</ul>
<ul>
    <li>spring-user.hello=<span th:text="#{user.hello}"></span></li>
    <li>manual-user.hello=<span th:text="${messageUserHello}"></span></li>
    <li>userLocale=<span th:text="${userLocale}"></span></li>
    <li>userZoneId=<span th:text="${userZoneId}"></span></li>
    <li>userDatetime=<span th:text="${userDatetime}"></span></li>
    <li>systemLocale=<span th:text="${systemLocale}"></span></li>
    <li>systemZoneId=<span th:text="${systemZoneId}"></span></li>
    <li>systemDatetime=<span th:text="${systemDatetime}"></span></li>
</ul>
<hr/>

<h1>Json(新窗口)</h1>
<ul>
    <li><a href="/test/test.json?lang=zh-CN&zone=Asia/Shanghai" target="_blank">lang=zh-CN&zone=Asia/Shanghai</a></li>
    <li><a href="/test/test.json?lang=en-US&zone=America/New_York" target="_blank">lang=en-US&zone=America/New_York</a></li>
</ul>

<h1>journal(新窗口)</h1>
<ul>
    <li><a href="/test/string.json" target="_blank">string.json</a></li>
    <li><a href="/test/journal.json" target="_blank">journal.json</a></li>
</ul>


<h1>extend(新窗口)</h1>
<ul>
    <li><a href="/a.html" target="_blank">a.com.html</a></li>
</ul>

<h1>Oauth2(Ajax)</h1>
<form id="user_pass" action="">
    用户: <input type="text" name="username" value="trydofor"/><br/>
    密码: <input type="password" name="password" value="moilioncircle"/><br/>
</form>
<input type="button" value="登陆" onclick="onLogin()">
<input type="button" value="antMatch配置" onclick="onAntMatch()">
<input type="button" value="@Secured注解" onclick="onSecured()">
<input type="button" value="登出" onclick="onLogout()">
<br/>
<textarea id="oauthOutput" cols="72" rows="20"></textarea>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script language="JavaScript">
    // $(selector).post(URL,data,function(data,status,xhr),dataType)
    var accessToken = null;
    var count = 0;

    function onLogin() {
        let data = $("#user_pass").serialize();
        $.post("/login.json", data, function (d) {
            output("onLogin", d);
            accessToken = d.access_token;
        }, "json");
    }

    function onAntMatch() {
        let data = {
            "name": "a9",
            "gender": 0,
            "birth": "2015-07-02",
            "avatar": "",
            "country": "CN",
            "language": "zh_CN",
            "timezone": 1010201
        }

        $.ajax({
            type: "POST",
            url: "/user/create.json?access_token=" + accessToken,
            contentType: 'application/json',
            dataType: 'json',
            async: false,
            data: JSON.stringify(data),
            success: function (d) {
                output("onAntMatch", d);
            }
        })
    }

    function onLogout() {
        $.get("/logout.json?access_token=" + accessToken, function (d) {
            output("onLogout", d);
        });
    }

    function onSecured() {
        $.get("/test/secured-test.json?access_token=" + accessToken, function (d) {
            output("onSecured", d);
        });
    }

    function output(s, d) {
        console.log(d);
        let obj = $("#oauthOutput");
        let txt = "[" + (count++) + " " + s + " ]" + JSON.stringify(d) + "\n"
        obj.val(obj.val() + txt);
    }
</script>
</body>
</html>
