<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>wings example</title>
</head>
<body>
<h1>Sleep(当前窗口)</h1>
<a href="/sleep.html?ms=30000">/sleep.html?ms=30000</a>
<h1>I18n(当前窗口)</h1>
<ul>
    <li><a href="?lang=zh-CN&zone=Asia/Shanghai">lang=zh-CN&zone=Asia/Shanghai</a></li>
    <li><a href="?lang=en-US&zone=America/New_York">lang=en-US&zone=America/New_York</a></li>
    <li><a href="?lang=zh&zone=Asia/Shanghai">lang=zh&zone=Asia/Shanghai</a></li>
    <li><a href="?lang=en&zone=America/New_York">lang=en&zone=America/New_York</a></li>
    <li><a href="?lang=zh&zone=Shanghai">lang=zh&zone=Shanghai</a></li>
    <li><a href="?lang=en&zone=New_York">lang=en&zone=New_York</a></li>
</ul>
<ul>
    <li>user.hello=<span th:text="#{user.hello}"></span></li>
    <li>userLocale=<span th:text="${userLocale}"></span></li>
    <li>userZoneId=<span th:text="${userZoneId}"></span></li>
    <li>userDatetime=<span th:text="${userDatetime}"></span></li>
    <li>systemZoneId=<span th:text="${systemZoneId}"></span></li>
    <li>systemDatetime=<span th:text="${systemDatetime}"></span></li>
</ul>
<hr/>

<h1>Json(新窗口)</h1>
<ul>
    <li><a href="/test.json?lang=zh-CN&zone=Asia/Shanghai" target="_blank">lang=zh-CN&zone=Asia/Shanghai</a></li>
    <li><a href="/test.json?lang=en-US&zone=America/New_York" target="_blank">lang=en-US&zone=America/New_York</a></li>
</ul>

<h1>flywave(新窗口)</h1>
<ul>
    <li>建议不要通过网页来进行数据库版本管理，因为不安全，日志不全。</li>
    <li>推荐在开发环境下，以WingsFlywaveShardJournalSample的形式执行</li>
</ul>
<ul>
    <li><a href="/flywave-revi.json" target="_blank">初始化</a></li>
    <li><a href="/flywave-revi.json?revi=2019052001" target="_blank">升级到 2019-05-20-01</a></li>
    <li><a href="/flywave-revi.json?revi=2019051201" target="_blank">降级到 2019-05-12-01</a></li>
    <li><a href="/flywave-shard.json?table=EXP_USER" target="_blank">分表 EXP_USER</a></li>
    <li><a href="/flywave-journal.json?table=EXP_USER" target="_blank">初始化跟踪 EXP_USER</a></li>
    <li><a href="/flywave-journal.json?table=EXP_USER&enable=true" target="_blank">打开跟踪数据 EXP_USER</a></li>
    <li><a href="/flywave-journal.json?table=EXP_USER&enable=false" target="_blank">关闭跟踪数据 EXP_USER</a></li>
</ul>

<h1>journal(新窗口)</h1>
<ul>
    <li><a href="/string.json" target="_blank">string.json</a></li>
    <li><a href="/journal.json" target="_blank">journal.json</a></li>
</ul>

</body>
</html>
