lombok.log.fieldName=log
lombok.addNullAnnotations=jetbrains
## DeserializationFeature.FAIL_ON_MISSING_CREATOR_PROPERTIES
## Do not open, it affects JSON serialization and deserialization.
#lombok.anyConstructor.addConstructorProperties=true
#
lombok.var.flagUsage=error
lombok.nonNull.flagUsage=error
lombok.log.custom.flagUsage=error
lombok.log.apacheCommons.flagUsage=error
lombok.log.flogger.flagUsage=error
lombok.log.jbosslog.flagUsage=error
lombok.log.javaUtilLogging.flagUsage=error
lombok.log.log4j.flagUsage=error
lombok.log.log4j2.flagUsage=error
