## Silencer's entry configuration, which defines the path and mode of Silencer's autoload.

## Scan path under multi-protocol, so no protocol header, same name can be loaded multiple times, override by priority.
wings.boot.more=application*.*, wings-conf/**/*.*

## Scan path under multi-protocol, so no protocol header, same name loaded only once by priority, no subsequent override.
wings.boot.once=git.properties, META-INF/build-info.properties

## Filename of the block-list config
wings.boot.block=wings-conf-block-list.cnf

## Filename of the promotion config
wings.boot.promo=wings-prop-promotion.cnf
